#  clang-tidy src/*.c src/utils/*.c app/*.c -p buildDir/
---
Checks: '-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-reserved-identifier,
clang-analyzer-*,
openmp-*,
modernize-*,
performance-*,
portability-*,
misc-*,
-misc-include-cleaner,
-misc-no-recursion,
readability-non-const-parameter'
WarningsAsErrors: '*'